.head{
    justify-content: space-between;
    /* background-image: url(/public/Images/pexels-stein-egil-liland-3408744.jpg); 
    */
    background-color:black;
    background-repeat: no-repeat;
    height: 350px;
    font-weight: bold;
   margin-left: 30px;
   margin-top: 30px;
   margin-bottom: 30px;

}

.text-header{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid rgb(211, 206, 206);
    border-radius: 25px;
    background: transparent;

}

@media only screen and (max-width: 740px) {
    
    .text-header{
        color: #ffffff;
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
