.head{
    justify-content: space-between;
    background-image: url(/public/Images/pexels-stein-egil-liland-3408744.jpg);
    background-repeat: no-repeat;
    height: 350px;
    font-weight: bold;
    width: auto;
}

.welcome-text-header{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 1024px) {
    
    .welcome-text-header{
        color: white;
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}
