.head{
    justify-content: space-between;
    background-image: url(/public/Images/pexels-stein-egil-liland-3408744.jpg);
    background-repeat: no-repeat;
    height: 350px;
    font-weight: bold;
    width: auto;
}

.text-header{
    color: #505050;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid white;
    background-color: white;

}

@media only screen and (max-width: 1024px) {
    
    .text-header{
        color: #505050;
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
