.Post-form{
    font-size: 30px;
    font-weight: 900px;
    margin-bottom: auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: grid;
    border: 1px solid #384955;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: auto;
}

.form-manager{
   justify-content: center;
   font-size: 40px;

}

input{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    display: flex;
    border: 1px solid #384955;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
}