/* .card-layout {
    display: flex;

    
    flex-wrap: wrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.card-layout__item {
    flex-basis: 33.33333%;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.post-box{
    width: 200px;
    margin: 25px 25px 40px 25px;
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.post-Info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post-Cat{
    font-size: 14px;
    color: #05eeeefb;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.post-title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    cursor: pointer;
    color: #626e74;
}


.postDate{
    font-size: 13px;
    color: #626e74;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

.postDesc{
    font-size: 14px;
    color: #626e74;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.copper{
   height: auto;
   overflow: hidden;
}

@media screen and (max-width: 768px) {
    .post-pic{
        flex: 6;
        display: flex;
        flex-direction: column;
        margin: 20px 20px 20px 20px;
        width:100%;
        height: auto;
        align-items: center;
    }
   
}

     */

.card-layout__item{

    /* background-color: aqua; */
    display:flex;
    flex-direction: row;
    gap:1rem;
    width: auto;
}

.post-box{
    display: flex;
    flex-direction: row;
    row-wrap: wrap;
    gap: 1rem;
    margin: 25px 25px 40px 25px;
}
.story-imag{
    width: 350px;
    height: 250px;
    object-fit: cover;  
    border-radius: 10px;
}
.copper{
    height: auto;
    overflow: hidden;
}
.post-date{
    font-size: 13px;
    color: #626e74;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
}
.post-title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    cursor: pointer;
    color: #626e74;
}
.post-desc{
    font-size: 14px;
    color: #626e74;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 400px;
}
a{
    text-decoration: none;
    color: #ffffff;
}