@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;200&display=swap'); 

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  color: #384955;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 20px;
}

.hhead{
  margin-left: 15px;
  margin-right: 15px;
}
a{
  color: white;
}
Link{
  color: white;
  font-size: bold;
}
button{
  font-size: bold;
  color: wheat;
}
